KiCadSchematics/TachometerProject/TachometerProject-backups
KiCadSchematics/TachometerProject/TachometerProject.kicad_pcb
KiCadSchematics/TachometerProject/TachometerProject.kicad_prl

LaTeX Equations/
Schematic PNGs/
SchematicSVGs/Dirty
PicaxeScripts/*.err
